<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="939fd1">  <td>18/09/29 18:43:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCaseCreateLead.createLead()[pri:0, instance:week3.day2.TestCaseCreateLead@3632be31]">createLead</td> 
  <td>main@1987083830</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/09/29 18:44:19</td>   <td>23891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCaseCreateLead.createLead()[pri:0, instance:week3.day2.TestCaseCreateLead@3632be31]">createLead</td> 
  <td>main@1987083830</td>   <td></td> </tr>
<tr bgcolor="8cc0ba">  <td>18/09/29 18:44:42</td>   <td>46464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteLead.createLead()[pri:0, instance:week3.day2.DeleteLead@2ac273d3]">createLead</td> 
  <td>main@1987083830</td>   <td></td> </tr>
</table>
