<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>sequntial</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8cc0ba">  <td>18/09/16 08:01:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteLead.createLead()[pri:0, instance:week3.day2.DeleteLead@2ac273d3]">createLead</td> 
  <td>main@1325808650</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/09/16 08:01:37</td>   <td>24370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DuplicateLead.createLead()[pri:0, instance:week3.day2.DuplicateLead@6fc6f14e]">createLead</td> 
  <td>main@1325808650</td>   <td></td> </tr>
</table>
