<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9a81e8">  <td>18/09/30 16:28:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCaseCL.CL(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:pages.createlead.TestCaseCL@5f9d02cb]">CL</td> 
  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>18/09/30 16:28:16</td>   <td>13151</td> <td title="&lt;&lt;NewProjectMethods.afterSuite()[pri:0, instance:pages.createlead.TestCaseCL@5f9d02cb]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>18/09/30 16:27:55</td>   <td>-7606</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewProjectMethods.beforeClass()[pri:0, instance:pages.createlead.TestCaseCL@5f9d02cb]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>18/09/30 16:27:55</td>   <td>-7823</td> <td title="&gt;&gt;NewProjectMethods.beforeSuite()[pri:0, instance:pages.createlead.TestCaseCL@5f9d02cb]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>18/09/30 16:28:13</td>   <td>10802</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewProjectMethods.closeApp()[pri:0, instance:pages.createlead.TestCaseCL@5f9d02cb]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>18/09/30 16:27:56</td>   <td>-7016</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewProjectMethods.login(java.lang.String)[pri:0, instance:pages.createlead.TestCaseCL@5f9d02cb]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/09/30 16:27:55</td>   <td>-7613</td> <td>&nbsp;</td><td title="&gt;&gt;TestCaseCL.setData()[pri:0, instance:pages.createlead.TestCaseCL@5f9d02cb]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
</table>
